*{
    margin: 0;
    padding: 0;
}
/* 下拉回弹 css */
body,
html {
  height: 100%;
  width: 100%;
  background: #1A1A1A;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.pretty-box{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.pretty-box>div{
    width: 100%;
}
.image{
    width: 100%;
}